@import './variables';

@mixin round-image($size: 1.5rem) {
  width: $size * 1.5;
  height: $size * 1.5;
  border-radius: calc($size * 1.5 / 2);
}

// 아이콘 사이즈, 배경색, 선색, 둥근테두리(bool), 아이콘 내부 채우기(bool), 윤곽선
@mixin i-box(
  $size: 1.5rem,
  $back: transparent,
  $stroke: $blue,
  $round: false,
  $fill: false,
  $border: false
) {
  width: $size * 1.5;
  height: $size * 1.5;
  border-radius: if(round, calc($size * 1.5 / 2), $radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background: $back;
  box-sizing: border-box;

  @if $border {
    border: 0.1rem solid $stroke;
  }
}

@mixin icon($size: 1.5rem, $stroke: $blue, $fill: false) {
  stroke: $stroke;
  width: $size;
  height: $size;

  @if $fill {
    fill: $stroke;
  }
}

@mixin hover($color: $purple, $px: 4px) {
  stroke: lighten($color, 6);
  filter: drop-shadow(0px 0px $px $color);
}

@mixin btn($bg: transparent, $size: 16px, $color: $blue, $font: m) {
  background: $bg;
  border: none;
  border-radius: $radius;
  font-family: 'Urban-' + $font;
  font-size: $size;
  color: $color;
  cursor: pointer;
  box-sizing: border-box;
}

@mixin scroll($c1: $blue, $c2: $purple) {
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient($c1, $c2);
    border-radius: 1px;
    background-clip: padding-box;
    border: 5px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin border($bg: $black, $s: $yellow, $e: $purple) {
  border: 1.6px solid transparent;
  background-image: linear-gradient($bg, $bg), linear-gradient(135deg, $s, $e);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
