$yellow: #ebfc87;
$purple: #ed84f8;
$blue: #bbb4fe;
$orange: #feb985;
$white: #fffeec;
$black: #141414;
$green: #1d3e38;
$pink: #da96a6;
$navy: #161f56;
$salmon: #fcc5b8;
$cyan: #6ecbf5;
$dark: #2a2356;
$blue04: rgba($blue, 0.4);
$grad-bp: linear-gradient(135deg, $blue, $purple);

$margin: 0.1rem;
$radius: 0.5rem;
$padding: 2rem;
