@import "./variables";

.app {
  width: 100vw;
  height: 100vh;
  display: flex;

  .nav {
    padding: 0 1.2rem;
    margin: $margin;
    background: $black;
    border-radius: $radius;
  }

  .main-wrapper {
    box-sizing: border-box;
    margin: $margin $margin $margin 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      height: fit-content;
      background: $black;
      border-radius: $radius;
    }

    .content-wrapper {
      background: $black;
      border-radius: $radius;
      display: flex;

      margin-top: $margin;
      flex: 1 1 auto;
      overflow: hidden;
    }
  }
}
