@import "./variables";

.wrapper {
  box-sizing: border-box;
  color: $white;

  flex: 1 0 auto;
  margin: 1.5rem;
  overflow-y: scroll;

  .content {
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    list-style: none;

    .grid {
    }
  }

  .icon {
    stroke: $white;
  }
}
