@import 'variables', 'mixin';

.wrapper {
  border: 0.1rem solid $blue04;
  border-radius: $radius;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  height: 40px;
  box-sizing: border-box;

  input[type='text'] {
    flex: 1 0 auto;
    margin: 0 1rem;
    background: $black;
    border: 0;
    color: $white;

    &:focus {
      border: 0;
    }
  }
}
