@import 'variables', 'mixin';

.wrapper {
  // border: 0.1rem solid $blue04;
  // border-radius: $radius;
  // display: flex;
  // align-items: center;
  // padding: 0.5rem 0;
  position: relative;
  width: 100%;
  height: 40px;
  box-sizing: border-box;

  &:hover {
    border-color: $blue;
  }

  input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 40px 8px 16px;
    border: 0.1rem solid $blue04;
    border-radius: $radius;
    display: flex;
    align-items: center;
    background: $black;
    color: $white;
    font-family: Noto-l;
    font-size: 16px;
    padding: auto 40px auto 16px;

    &::placeholder {
      color: $blue04;
    }

    &:focus,
    &:hover {
      outline: none;
      border: 0.1rem solid $blue;
    }
  }
}
