@import "variables", "mixin";

.background {
  position: absolute;
  background-color: rgba($dark, 0.4);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.modal {
  width: 420px;
  height: 580px;
  border-radius: 16px;
  box-sizing: border-box;
  position: relative;
  color: $white;
  font-family: Urban-l;

  @include border($bg: $black, $s: $yellow, $e: $purple);
}
