@import "variables", "mixin";

.wrap {
  width: 80%;
  display: flex;
  flex-direction: column;

  .header {
    padding-bottom: 10px;
    h2 {
      //   text-align: center;
      font: {
        family: Urban-m;
        size: 24px;
      }

      color: $white;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(135deg, $blue, $purple);
      background-clip: text;
      color: transparent;
    }

    .box {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: space-between;

      .select {
        width: 120px;
      }

      .input_box {
        position: relative;
        flex: 1 0 auto;
        height: 32px;
        box-sizing: border-box;
        align-items: center;

        &:hover {
          border-color: $blue;
        }

        input {
          position: relative;
          font-size: 14px;
          margin-top: 0px;
          width: 90%;
          height: 35px;
          bottom: 3px;
          border: 2px solid $blue04;
          border-radius: 4px;
          font-family: "Noto-l";
          background: $black;
          margin-left: 16px;

          &::placeholder {
            color: $blue;
            opacity: 0.4;
          }

          &:hover,
          &:focus {
            @include border($s: $salmon, $e: $purple);
          }
        }

        .icon {
          position: absolute;
          top: 5px;
          right: 10%;

          @include icon($size: 24px);

          &:hover {
            @include hover();
          }
        }
      }

      .buttons {
        display: flex;
        font-size: 14px;
        gap: 8px;
        height: 30px;
        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $blue04;
          padding: 2px 8px 2px 8px;
          border-radius: 2px;

          a {
            text-decoration: none;
            color: $blue;
          }

          &:hover {
            @include hover();
            filter: contrast(1.3);
            color: $purple;
          }
        }

        button {
          @include btn($blue04, 14px $blue);
          border-radius: 2px;
          margin-left: 4px;

          &.followed {
            background: $grad-bp;
          }

          &:hover {
            @include hover();
            filter: contrast(1.3);
            color: $purple;
          }
        }
      }
    }
  }

  .content {
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;

    @include scroll();
  }
}
