@import 'variables', 'mixin';

.wrapper {
  .nav_box {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}

.icon_box {
  @include i-box();

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    stroke: $blue;
  }
}
