.modal-box {
  width: 424px;
  height: 580px;
  position: absolute;
  right: 0;
  top: 72px;
  background-color: aqua;
}

.sns-login-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
