@import "variables", "mixin";

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .profile {
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 1.9rem;
    border: 2px solid $blue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    position: relative;

    .img_box {
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 1.6rem;
      overflow: hidden;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .icon_box {
      position: absolute;
      bottom: 0;
      right: -8px;

      @include i-box($size: 0.8rem, $back: $blue, $round: true, $fill: true);

      .icon {
        @include icon($size: 12px, $stroke: $black, $fill: true);
      }
    }
  }

  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;

    input {
      background: transparent;
      color: $white;
      border: none;
      width: fit-content;
    }

    .icon_box {
      @include i-box($size: 0.8rem, $round: true);

      .icon {
        @include icon($size: 12px, $stroke: $blue, $fill: true);
      }
    }
  }
}
