$blue02: rgba(88, 106, 227, 0.2);
$gradient: linear-gradient(95deg, #6ecbf5 9.57%, #c252e1 79.58%);

.header {
  display: flex;
  height: 72px;
  padding: 24px 56px 0px 56px;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  .content {
    width: 596px;
    height: 48px;
    display: flex;
    border: 1px solid red;

    .logo {
      display: flex;
      width: 148px;
      height: 48px;
      flex-direction: column;
      justify-content: center;
      flex-shrink: 0;
      font-family: "Nunito-B";
      font-size: 36px;

      -webkit-background-clip: text !important;
      -webkit-text-fill-color: transparent;
      background: linear-gradient(
        90deg,
        rgb(110, 203, 245) 0%,
        rgb(194, 82, 225) 100%
      );
      background-clip: text;
      color: transparent;

      text-shadow: 0px 0px 4px #c252e1;
      mix-blend-mode: lighten;
      top: 0;
      width: 148px;
    }

    .input-box {
      height: 48px;
      display: flex;
      flex-grow: 1;
      padding: 0px 0px 0px 24px;
      align-items: center;
      flex-shrink: 0;
      border-radius: 24px;
      border: 2px solid $blue02;

      input {
        font-family: "Nunito-R", "NotoKR";
        font-size: 16px;
      }
    }
  }
}
